<div class="c-show text-center">
    <%= notice %>
    <p>
      <img src ="<%= current_company.profile_image %>">
    </p>
    <p>
      <%= current_company.company_name %>
    </p>
    <p>
      <%= current_company.address %>
    </p>
    <p>
      <%= current_company.phone_number %>
    </p>
    <p>
      <%= current_company.profile %>
    </p>
    <%= link_to("プロフィール編集","/companies/edit") %>
    <% @topics.each do |topic| %>
      <p>
        <%= topic.content %><br>
      </p>
      <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <%= image_tag topic.image_name.url %>
        </div>
      </div>
      <%= topic.price %><br>
      <p>
        <%= topic.created_at.strftime('%Y/%m/%d') %>
      </p>
    <% end %>
</div>