<div class="show-wrapper text-center">
    <p>
      <img src ="<%= current_company.profile_image %>">
    </p>
    <p>
      <%= current_company.company_name %>
    </p>
    <p>
      <%= current_company.address %>
    </p>
    <p>
      <%= current_company.phone_number %>
    </p>
    <p>
      <%= current_company.profile %>
    </p>
    <%= link_to("プロフィール編集","/companies/edit") %>
  <% current_company.topics.each do |topic| %>
    <p>
      <%= topic.content %><br>
      <%= topic.price %>
    </p>
    <p>
      <%= image_tag topic.image_name.url %>
    </p>
    <p>
      <%= topic.created_at %>
    </p>
  <% end %>
</div>