<div class="show-wrapper text-center">
    <p>
      <%= @company.company_name %>
    </p>
    <p>
      <%= @company.address %>
    </p>
    <p>
      <%= @company.phone_number %>
    </p>
  <% @company.topics.each do |topic| %>
    <p>
      <%= topic.content %>
    </p>
    <p>
      <%= image_tag topic.image_name.url %>
    </p>
  <% end %>
</div>