<div>
  <%= @post.content %><br>
  <% @post.replies.each do | reply | %><br>
    <h>会社名</h><br>
    <%= reply.company.company_name %><br>
  <h>画像</h><br>
    <img src ="<%= reply.image_name %>"><br>
  <h>投稿内容</h><br>
    <%= reply.content %><br>
  <h>値段</h><br>
    <%= reply.price %><br>
  <% end %>
</div>