<div>
  <h>投稿内容</h><br>
  <%= @post.content %><br>
  <% @post.replies.each do | reply | %>
    <h>会社名</h><br>
    <%= reply.company.company_name %><br>
    <h>画像</h><br>
      <img src ="<%= reply.image_name %>"><br>
    <h>投稿内容</h><br>
      <%= reply.content %><br>
    <h>値段</h><br>
      <%= reply.price %><br>
    <h>日時</h><br>
      <%= reply.created_at.strftime('%Y/%m/%d') %><br>
    <% if reply.buyer_id.nil? %>
      <%= link_to("購入する","/buy/#{reply.id}/detail") %>
    <% else %>
      <h>売り切れました！</h><br>
    <% end %>
  <% end %>
</div>