<!DOCTYPE html>
<html>
  <head>
    <title>Market</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_company.present? %>
        <div class="row">
          <div class="col-md-offset-3 col-md-1">
            <%= link_to("ホーム画面","/companies/show") %>
          </div>
          <div class="col-md-1">
            <%= link_to("新規投稿","/topics/new") %>
          </div>
          <div class="col-md-1">
            <%= link_to("投稿一覧","/posts") %>
          </div>
          <div class="col-md-1">
            <%= link_to("取引一覧","/companies/trade") %>
          </div>
          <div class="col-md-1">
            <%= link_to("ポイント一覧","/companies/point") %>
          </div>
          <div class="col-md-1">
            <%= link_to("ログアウト","/companies/destroy", method: :delete) %>
          </div>
        </div>
      <% end %>
      <% if current_user.present? %>
        <div class="row">
          <div class="col-md-offset-2 col-md-1">
            <%= link_to("ホーム画面","/users/show") %>
          </div>
          <div class="col-md-1">
            <%= link_to("新規投稿","/posts/new") %>
          </div>
          <div class="col-md-1">
            <%= link_to("投稿一覧", "/topics/show") %>
          </div>
          <div class="col-md-2">
            <%= link_to("いいね！した投稿","/users/save") %>
          </div>
          <div class="col-md-1">
            <%= link_to("取引一覧","/users/trade") %>
          </div>
          <div class="col-md-1">
            <%= link_to('お支払い方法',"/card/show") %>
          </div>
          <div class="col-md-1">
            <%= link_to("ログアウト","/users/destroy", method: :delete) %>
          </div>
        </div>
      <% end %>
    </header>
    <script src="https://js.pay.jp/" type="text/javascript" ></script>
    <%= yield %>
  </body>
</html>
