<!DOCTYPE html>
<html>
  <head>
    <title>Market</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_company.present? %>
        <%= link_to("新規投稿","/topics/new") %>
        <%= link_to("投稿一覧", "/posts/index") %>
        <%= link_to("ログアウト","/top/company_logout",{method: "post"}) %>
      <% end %>
      <% if current_user.present? %>
        <%= link_to("新規投稿","/posts/#{current_user.id}/new") %>
        <%= link_to("投稿一覧", "/topics/index") %>
        <%= link_to("保存した投稿","/users/save") %>
        <%= link_to('お支払い方法',"/card/show") %>
        <%= link_to("ログアウト","/top/user_logout",{method: "post"}) %>
      <% end %>
    </header>
    <script src="https://js.pay.jp/" type="text/javascript" ></script>
    <%= yield %>
  </body>
</html>
